<html>
    <head>
        <title>PSP at VT</title>
        <link
            rel="stylesheet"
            href="{{ url_for( 'static', filename='index.css') }}"
        />
    </head>
    <body>
        <div class="header">
            <h1>Calendar</h1>
        </div>
        <div class="linkrow">
            <div><a href="/">Home</a></div>
            <div><a href="/calendar">Calendar</a></div>
            <div><a href="/announcements">Announcements</a></div>
            <div><a href="/events">Events</a></div>
            <div><a href="/admin">Admin</a></div>
        </div>
        <div class="mainarea">
            <div class="horizontal-row-flex">
                <div class="calendar">
                    {% if month_name %}
                    <h1>{{ month_name }} </h1>
                    {% endif %}
                    <div class="days-container">
                        {% if day_count != None and first_of_month != None and events != None %}
                        {% for day in range(day_count + first_of_month) %}
                        {% if (day % 7 == 0 and day != 0) %}
                        </div>
                        {% endif %}
                        {% if day % 7 == 0 %}
                        <div class="week-container">
                        {% endif %}
                            <div id="day-{{ day +1  }}" class="day">
                                {% if day - first_of_month >= 0 %}
                                <div class="day-header">
                                <h2>{{ day+1 - first_of_month }}</h2>
                                <p>
                                    {% if (day) % 7 == 0 %}
                                        Sunday
                                    {% elif (day) % 7 == 1 %}
                                        Monday
                                    {% elif (day) % 7 == 2 %}
                                        Tuesday
                                    {% elif (day) % 7 == 3 %}
                                        Wednesday
                                    {% elif (day) % 7 == 4 %}
                                        Thursday
                                    {% elif (day) % 7 == 5 %}
                                        Friday
                                    {% else %}
                                        Saturday
                                    {% endif %}
                                </p>
                                </div>
                                <div class="day-content">
                                    {% for event in events[day - first_of_month] %}
                                    <a class="undecorated-link" href="/events/{{ event.name | replace(' ', '-') }}">
                                    <div class="calendar-event">
                                        <p><strong>{{ event.time }}</strong></p>
                                        <p>{{ event.name }}</p>
                                    </div>
                                    </a>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        {% if day == day_count - 1 %}
                        </div>
                        {% endif %}
                        {% endfor %} {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
        <script>
            var days = document.getElementsByClassName("day");
            var max_size = 0;
            for (let i = 0; i < days.length; i++) {
                if (days[i].offsetWidth > max_size) {
                    max_size = days[i].offsetWidth;
                }
            }
            for (let i = 0; i < days.length; i++) {
                days[i].style.width = max_size + "px";
            }
        </script>
    </body>
</html>
