<html>
    <head>
        <title>PSP at VT</title>
        <link
            rel="stylesheet"
            href="{{ url_for( 'static', filename='dashboard.css') }}"
        />
    </head>
    <body>
        <div class="header">
            <h1>Admin Dashboard - Welcome {{ username }}</h1>
        </div>
        <div class="linkrow">
            <div><a href="/">Home</a></div>
            <div><a href="/calendar">Calendar</a></div>
            <div><a href="/announcements">Announcements</a></div>
            <div><a href="/events">Events</a></div>
            <div><a href="/admin">Admin</a></div>
            <div><a href="/admin/dashboard">Dashboard</a></div>
        </div>
        <div class="mainarea">
            <div class="actions">
                <a href="/admin/create-event">Create Event</a>
                <a href="/admin/edit-event">Edit Event</a>
                <a href="/admin/create-announcement">Create Announcement</a>
                <a href="/admin/edit-announcement">Edit Announcement</a>
                <a href="/admin/create-user">Create User</a>
                <a href="/admin/edit-user">Edit User</a>
            </div>
        </div>
        <div class="footer"></div>
        
    </body>
</html>
