<html>
    <head>
        <title>PSP at VT</title>
        <link
            rel="stylesheet"
            href="{{ url_for( 'static', filename='dashboard.css') }}"
        />
    </head>
    <body>
        <div class="header">
            <h1>Admin Dashboard - Welcome {{ username }}</h1>
        </div>
        <div class="linkrow">
            <div><a href="/">Home</a></div>
            <div><a href="/calendar">Calendar</a></div>
            <div><a href="/announcements">Announcements</a></div>
            <div><a href="/events">Events</a></div>
            <div><a href="/admin">Admin</a></div>
            <div><a href="/admin/dashboard">Dashboard</a></div>
        </div>
        <div class="mainarea">
            <div class="horizontal-row-flex">
                <div class="users">
            {% for user in users %}
                <a class="undecorated-link" href="/admin/edit-user/{{ user[0] }}">
                <div class="user">
                    <h1>{{ user[0] }}</h1>
                    <p>Mode: {{ user[2] }}</p>
                </div>
                </a>
            {% endfor %}
                </div>
            </div>
        </div>
        <div class="footer"></div>
        
    </body>
</html>
